.features211-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
}
.features211-max-width {
  display: flex;
  align-items: center;
}
.features211-container {
  color: var(--dl-color-theme-neutral-light);
  width: 1196px;
  height: auto;
  display: flex;
  z-index: 100;
  align-self: flex-start;
  box-shadow: 5px 10px 10px 0px #d4d4d4;
  align-items: center;
  animation-name: fadeInUp;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  background-color: #101f46;
  animation-duration: 300ms;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.features211-container1 {
  color: var(--dl-color-theme-neutral-light);
  width: 1196px;
  height: auto;
  display: flex;
  z-index: 100;
  align-self: flex-start;
  box-shadow: 5px 10px 10px 0px #d4d4d4;
  align-items: center;
  animation-name: fadeInUp;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  background-color: #101f46;
  animation-duration: 300ms;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.features211-container2 {
  color: var(--dl-color-theme-neutral-light);
  width: 1196px;
  height: auto;
  display: flex;
  z-index: 100;
  align-self: flex-start;
  box-shadow: 5px 10px 10px 0px #d4d4d4;
  align-items: center;
  animation-name: fadeInUp;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  background-color: #101f46;
  animation-duration: 300ms;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.features211-container3 {
  color: var(--dl-color-theme-neutral-light);
  width: 1196px;
  height: auto;
  display: flex;
  z-index: 100;
  align-self: flex-start;
  box-shadow: 5px 10px 10px 0px #d4d4d4;
  align-items: center;
  animation-name: fadeInUp;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  background-color: #101f46;
  animation-duration: 300ms;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.features211-text08 {
  width: 242px;
  display: inline-block;
  font-size: 25px;
}
.features211-text11 {
  display: inline-block;
  text-align: center;
}
.features211-text23 {
  width: 280px;
  display: inline-block;
  font-size: 25px;
}
.features211-text26 {
  display: inline-block;
  text-align: center;
}
.features211-text38 {
  width: 242px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
}
.features211-text41 {
  width: 280px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
}
.features211-text42 {
  display: inline-block;
  font-size: 16px;
}
.features211-text56 {
  display: inline-block;
  font-size: 16px;
}
@media(max-width: 991px) {
  .features211-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
}
@media(max-width: 767px) {
  .features211-container {
    width: 100%;
  }
  .features211-container1 {
    width: 100%;
  }
  .features211-container2 {
    width: 100%;
  }
  .features211-container3 {
    width: 100%;
  }
}
